In [1]:
import pandas as pd
dParroquia = pd.read_excel(r"C:\Users\ASUS\Documents\UTPL\cuarto ciclo\Base de Datos Avanzada\Semana 12\Base_de_Datos_4.xlsx" , sheet_name = "Parroquia" , header = 0)
dCanton = pd.read_excel(r"C:\Users\ASUS\Documents\UTPL\cuarto ciclo\Base de Datos Avanzada\Semana 12\Base_de_Datos_4.xlsx" , sheet_name = "Canton" , header = 0)
dRelaciones = pd.read_excel(r"C:\Users\ASUS\Downloads\dpa.xls",sheet_name = "DPA_Base" , header = 3)

In [2]:
dParroquia

    CodParroquia                                     NomParroquia CodCanton
0             1P  CUENCA, CABECERA CANTONAL Y CAPITAL PROVINCIAL.       NaN
1             2P                                      EL SAGRARIO       NaN
2             3P                                          TONSUPA      2Pro
3             4P                                         COLONCHE      3Pro
4             5P                                      HUAYNACÁPAC       NaN
..           ...                                              ...       ...
632         633P                                           YASUNI      9Pro
633         634P                                          TARACOA       NaN
634         635P                            SAN JOSE DEL PAYAMINO       NaN
635         636P                           SAN SEBASTIÁN DEL COCA       NaN
636         637P                     SIMON BOLIVAR (JULIO MORENO)      3Pro

[637 rows x 3 columns]

In [3]:
dCanton

    CodCanton    NomCanton  PoblacionCant CodProvincia
0        1Can       CUENCA       505585.0         1Pro
1        2Can     ATACAMES        41526.0         2Pro
2        3Can  SANTA ELENA       144076.0         3Pro
3        4Can        QUITO      2239191.0         4Pro
4        5Can    GUAYAQUIL      2350915.0         5Pro
..        ...          ...            ...          ...
204    205Can     PALENQUE            NaN        16Pro
205    206Can     ATACAMES            NaN         2Pro
206    207Can     CEVALLOS            NaN        17Pro
207    208Can        MOCHA            NaN        17Pro
208    209Can     PAQUISHA            NaN        13Pro

[209 rows x 4 columns]

In [4]:
dRelaciones

,Unnamed: 0,Código\nProvincia,Código\nCantón,Código\nParroquia,NombreProvincia,NombreCantón,NombreParroquia,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,NaN,1,1,50,AZUAY,CUENCA,CUENCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1,1,51,AZUAY,CUENCA,BAÑOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1,1,52,AZUAY,CUENCA,CUMBE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1,1,53,AZUAY,CUENCA,CHAUCHA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1,1,54,AZUAY,CUENCA,CHECA (JIDCAY),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,NaN,24,3,51,SANTA ELENA,SALINAS,ANCONCITO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1020,NaN,24,3,52,SANTA ELENA,SALINAS,JOSE LUIS TAMAYO (MUEY),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1021,NaN,90,1,51,ZONAS NO DELIMITADAS,ZONAS NO DELIMITADAS,LAS GOLONDRINAS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1022,NaN,90,3,51,ZONAS NO DELIMITADAS,ZONAS NO DELIMITADAS,MANGA DEL CURA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023,NaN,90,4,51,ZONAS NO DELIMITADAS,ZONAS NO DELIMITADAS,EL PIEDRERO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
resultado = []
detalles = []

In [7]:
for x in range(len(dParroquia)):
    canton = "Desconocido"
    aux = str(dParroquia.CodParroquia[x])+","+str(dParroquia.NomParroquia[x])+","
    for y in range(len(dRelaciones)):
        if(dParroquia.NomParroquia[x] == dRelaciones.NombreParroquia[y]):
            canton = str(dRelaciones.NombreCantón[y])
            for z in range(len(dCanton)):
                if(canton == dCanton.NomCanton[z]):
                    canton = dCanton.CodCanton[z]
    aux = aux+canton
    resultado.append(aux)

In [8]:
print(len(resultado))

637

In [9]:
datos = pd.DataFrame(resultado)
datos

                                                     0
0    1P,CUENCA, CABECERA CANTONAL Y CAPITAL PROVINC...
1                           2P,EL SAGRARIO,Desconocido
2                                      3P,TONSUPA,2Can
3                             4P,COLONCHE, SANTA ELENA
4                           5P,HUAYNACÁPAC,Desconocido
..                                                 ...
632                                 633P,YASUNI,128Can
633                           634P,TARACOA,Desconocido
634             635P,SAN JOSE DEL PAYAMINO,Desconocido
635            636P,SAN SEBASTIÁN DEL COCA,Desconocido
636     637P,SIMON BOLIVAR (JULIO MORENO), SANTA ELENA

[637 rows x 1 columns]

In [10]:
datos.to_excel("pruebas.xlsx")